<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsw.DHY.mapper.UseMapper">
    <insert id="insert">
         INSERT tbuser (
	username,
	PASSWORD,
	sex,
	education
)
VALUES
	(#{username}, #{password}, #{sex},#{education})
    </insert>

    <select id="login" resultType="com.zsw.DHY.pojo.TbUser">
        select *from tbuser where username=#{username} and password=#{password}
    </select>
</mapper>
        <!-- id=603ee33b-d655-4520-9713-ae4e4243655c,
        username='2763244002@qq.com',
        password='123', createtime='null',
        nickname='tom', birthdata='2022-03-18',
        sex='null', dltime=null, hpic='null',
        usertype=0}-->
