<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siit.zsw.dao.CommentMapper">
    <resultMap type="com.siit.zsw.pojo.Comment" id="comment">
        <id column="ID" property="id"/>
        <result column="TEXT" property="text"/>
        <result column="CONTENTID" property="contentid"/>
        <result column="TIME" property="time"/>
        <result column="USERID" property="userid"/>
        <association property="user" javaType="User">
            <id column="ID" property="id"/>
            <result column="HPIC" property="hpic"/>
            <result column="USERNAME" property="username"/>
        </association>
    </resultMap>

    <select id="getComment" resultMap="comment">
		select * from comment c LEFT JOIN user u on u.id=c.userid
	</select>

    <insert id="saveComment" parameterType="com.siit.zsw.pojo.Comment">
		insert into comment(TEXT,CONTENTID,TIME,USERID) 	values(#{text},#{contentid},#{time},#{userid})
</insert>

</mapper>
