<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siit.zsw.dao.carfriendMapper">
    <resultMap id="BaseResultMap" type="com.siit.zsw.pojo.carfriend">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="carfname" jdbcType="VARCHAR" property="carfname"/>
        <result column="cartype" jdbcType="VARCHAR" property="cartype"/>
        <result column="carnumber" jdbcType="VARCHAR" property="carnumber"/>
        <result column="userid" jdbcType="VARCHAR" property="userid"/>
        <result column="friendid" jdbcType="VARCHAR" property="friendid"/>
    </resultMap>
    <resultMap type="com.siit.zsw.pojo.carfriend" id="carfriend">
        <id column="ID" property="id"/>
        <result column="CARFNAME" property="carfname"/>
        <result column="CARTYPE" property="cartype"/>
        <result column="CARNUMBER" property="carnumber"/>
        <result column="USERID" property="userid"/>
        <result column="FRIENDID" property="friendid"/>
        <association property="user" javaType="User">
            <id column="ID" property="id"/>
            <result column="HPIC" property="hpic"/>
            <result column="USERNAME" property="username"/>
        </association>
        <association property="carmessage" javaType="CarMessage">
            <id column="id" property="id"/>
            <result column="vehID" property="vehID"/>
            <result column="plateNumber" property="plateNumber"/>
            <result column="brand" property="brand"/>
            <result column="remarks" property="remarks"/>
            <result column="produce_date" property="productdate"/>
            <result column="current_mileage" property="currentmileage"/>
            <result column="user_id" property="userid"/>
            <result column="create_id" property="createid"/>
        </association>
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, carfname, cartype, carnumber, userid, friendid
  </sql>
    <select id="selectByExample" parameterType="com.siit.zsw.pojo.carfriendExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from carfriend
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from carfriend
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from carfriend
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.siit.zsw.pojo.carfriendExample">
        delete from carfriend
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.siit.zsw.pojo.carfriend">
    insert into carfriend (id, carfname, cartype, 
      carnumber, userid, friendid
      )
    values (#{id,jdbcType=INTEGER}, #{carfname,jdbcType=VARCHAR}, #{cartype,jdbcType=VARCHAR}, 
      #{carnumber,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{friendid,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.siit.zsw.pojo.carfriend">
        insert into carfriend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="carfname != null">
                carfname,
            </if>
            <if test="cartype != null">
                cartype,
            </if>
            <if test="carnumber != null">
                carnumber,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="friendid != null">
                friendid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="carfname != null">
                #{carfname,jdbcType=VARCHAR},
            </if>
            <if test="cartype != null">
                #{cartype,jdbcType=VARCHAR},
            </if>
            <if test="carnumber != null">
                #{carnumber,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=VARCHAR},
            </if>
            <if test="friendid != null">
                #{friendid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.siit.zsw.pojo.carfriendExample" resultType="java.lang.Long">
        select count(*) from carfriend
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update carfriend
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.carfname != null">
                carfname = #{record.carfname,jdbcType=VARCHAR},
            </if>
            <if test="record.cartype != null">
                cartype = #{record.cartype,jdbcType=VARCHAR},
            </if>
            <if test="record.carnumber != null">
                carnumber = #{record.carnumber,jdbcType=VARCHAR},
            </if>
            <if test="record.userid != null">
                userid = #{record.userid,jdbcType=VARCHAR},
            </if>
            <if test="record.friendid != null">
                friendid = #{record.friendid,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update carfriend
        set id = #{record.id,jdbcType=INTEGER},
        carfname = #{record.carfname,jdbcType=VARCHAR},
        cartype = #{record.cartype,jdbcType=VARCHAR},
        carnumber = #{record.carnumber,jdbcType=VARCHAR},
        userid = #{record.userid,jdbcType=VARCHAR},
        friendid = #{record.friendid,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.siit.zsw.pojo.carfriend">
        update carfriend
        <set>
            <if test="carfname != null">
                carfname = #{carfname,jdbcType=VARCHAR},
            </if>
            <if test="cartype != null">
                cartype = #{cartype,jdbcType=VARCHAR},
            </if>
            <if test="carnumber != null">
                carnumber = #{carnumber,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                userid = #{userid,jdbcType=VARCHAR},
            </if>
            <if test="friendid != null">
                friendid = #{friendid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.siit.zsw.pojo.carfriend">
    update carfriend
    set carfname = #{carfname,jdbcType=VARCHAR},
      cartype = #{cartype,jdbcType=VARCHAR},
      carnumber = #{carnumber,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      friendid = #{friendid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="getListByTId" parameterType="java.util.Map" resultMap="carfriend">
		select * from carfriend where userid=#{userid} and friendid = #{friendid}
	</select>

    <insert id="saveCarFriend" parameterType="com.siit.zsw.pojo.carfriend">
        insert into carfriend
        <trim suffix="(" prefix=")" suffixOverrides=",">
            <if test="carfname">CARFNAME,</if>
            <if test="cartype">CARTYPE,</if>
            <if test="carnumber">CARNUMBER,</if>
            <if test="userid">USERID,</if>

            <if test="friendid">FRIENDID,</if>


        </trim>

        values
        <trim suffix="(" prefix=")" suffixOverrides=",">
            <if test="carfname">#{carfname},</if>
            <if test="cartype">#{cartype},</if>
            <if test="userid">#{userid},</if>

            <if test="carnumber">#{carnumber},</if>

            <if test="">#{friendid}</if>


        </trim>

    </insert>
    <select id="getFriendByUserId" parameterType="java.lang.String" resultMap="carfriend">
		select * from carfriend f LEFT JOIN user u on u.id = f.friendid
		LEFT JOIN carmessage c on c.userid = f.friendid where f.userid = #{userid}
</select>
    <select id="getCount" resultType="java.lang.Integer">
		select count(*) from carfriend where userid = #{userid}
</select>

</mapper>