<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siit.zsw.dao.ContentMapper">
    <resultMap type="com.siit.zsw.pojo.Content" id="content">
        <id column="ID" property="id"/>
        <result column="TXT" property="txt"/>
        <result column="PRAISE" property="praise"/>
        <result column="COMMENTS" property="comments"/>
        <result column="RELEASETIME" property="releasetime"/>
        <result column="CARFRIENDID" property="carfriendid"/>
        <result column="USERID" property="userid"/>
        <association property="user" column="userid" javaType="User">
            <id column="ID" property="id"/>
            <result column="HPIC" property="hpic"/>
            <result column="USERNAME" property="username"/>
        </association>
        <collection property="comment" ofType="Comment">
            <id column="ID" property="id"/>
            <result column="TEXT" property="text"/>
            <result column="CONTENTID" property="contentid"/>
            <result column="TIME" property="time"/>
        </collection>
    </resultMap>
    <insert id="saveContent" parameterType="com.siit.zsw.pojo.Content">
		insert into content(TXT,PRAISE,COMMENTS,RELEASETIME,USERID) values(#{txt},#{praise},#{comments},#{releasetime},#{userid})
	</insert>

    <select id="getContentByfid" parameterType="java.lang.String" resultMap="content">
		(select c.*,u.hpic,u.username from content c LEFT JOIN user u on c.userid = u.id
		where c.userid in (select f.friendid from carfriend f where f.userid = #{userid}) order by releasetime desc)
		union
		(select c.*,u.hpic,u.username from content c LEFT JOIN user u on c.userid = u.id
		where c.userid in (#{userid})  order by releasetime desc)
</select>

</mapper>
