<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siit.zsw.dao.ContentPraiseMapper">
    <resultMap type="com.siit.zsw.pojo.ContentPraise" id="contentpraise">
        <id column="ID" property="id"/>
        <result column="CONTENTID" property="contentid"/>
        <result column="USERID" property="userid"/>
    </resultMap>

    <insert id="saveContentPraise" parameterType="com.siit.zsw.pojo.ContentPraise">
		insert into contentpraise(CONTENTID,USERID) values(#{contentid},#{userid})
	</insert>

    <select id="getContentPraiseByUserId" parameterType="java.util.Map" resultMap="contentpraise">
		select * from contentpraise where userid=#{userid} and contentid=#{contentid}
	</select>
</mapper>
