<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siit.zsw.dao.FaultSolutionMapper">
  <resultMap id="BaseResultMap" type="com.siit.zsw.pojo.FaultSolution">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="faultID" jdbcType="VARCHAR" property="faultid" />
    <id column="verNumber" jdbcType="INTEGER" property="vernumber" />
    <result column="faultSolution" jdbcType="VARCHAR" property="faultsolution" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, faultID, verNumber, faultSolution, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.siit.zsw.pojo.FaultSolutionKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbfaultsolution
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.siit.zsw.pojo.FaultSolutionKey">
    delete from tbfaultsolution
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.siit.zsw.pojo.FaultSolution">
    insert into tbfaultsolution (id, faultID, verNumber, 
      faultSolution, remarks)
    values (#{id,jdbcType=INTEGER}, #{faultid,jdbcType=VARCHAR}, #{vernumber,jdbcType=INTEGER}, 
      #{faultsolution,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.siit.zsw.pojo.FaultSolution">
    insert into tbfaultsolution
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="faultid != null">
        faultID,
      </if>
      <if test="vernumber != null">
        verNumber,
      </if>
      <if test="faultsolution != null">
        faultSolution,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="faultid != null">
        #{faultid,jdbcType=VARCHAR},
      </if>
      <if test="vernumber != null">
        #{vernumber,jdbcType=INTEGER},
      </if>
      <if test="faultsolution != null">
        #{faultsolution,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.siit.zsw.pojo.FaultSolution">
    update tbfaultsolution
    <set>
      <if test="faultsolution != null">
        faultSolution = #{faultsolution,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siit.zsw.pojo.FaultSolution">
    update tbfaultsolution
    set faultSolution = #{faultsolution,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.siit.zsw.pojo.FaultSolution">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="faultID" jdbcType="VARCHAR" property="faultid" />
    <id column="verNumber" jdbcType="INTEGER" property="vernumber" />
    <result column="faultSolution" jdbcType="VARCHAR" property="faultsolution" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, faultID, verNumber, faultSolution, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.siit.zsw.pojo.FaultSolutionKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbfaultsolution
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.siit.zsw.pojo.FaultSolutionKey">
    delete from tbfaultsolution
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.siit.zsw.pojo.FaultSolution">
    insert into tbfaultsolution (id, faultID, verNumber, 
      faultSolution, remarks)
    values (#{id,jdbcType=INTEGER}, #{faultid,jdbcType=VARCHAR}, #{vernumber,jdbcType=INTEGER}, 
      #{faultsolution,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.siit.zsw.pojo.FaultSolution">
    insert into tbfaultsolution
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="faultid != null">
        faultID,
      </if>
      <if test="vernumber != null">
        verNumber,
      </if>
      <if test="faultsolution != null">
        faultSolution,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="faultid != null">
        #{faultid,jdbcType=VARCHAR},
      </if>
      <if test="vernumber != null">
        #{vernumber,jdbcType=INTEGER},
      </if>
      <if test="faultsolution != null">
        #{faultsolution,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.siit.zsw.pojo.FaultSolution">
    update tbfaultsolution
    <set>
      <if test="faultsolution != null">
        faultSolution = #{faultsolution,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siit.zsw.pojo.FaultSolution">
    update tbfaultsolution
    set faultSolution = #{faultsolution,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.siit.zsw.pojo.FaultSolution">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="faultID" jdbcType="VARCHAR" property="faultid" />
    <id column="verNumber" jdbcType="INTEGER" property="vernumber" />
    <result column="faultSolution" jdbcType="VARCHAR" property="faultsolution" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, faultID, verNumber, faultSolution, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.siit.zsw.pojo.FaultSolutionKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbfaultsolution
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.siit.zsw.pojo.FaultSolutionKey">
    delete from tbfaultsolution
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.siit.zsw.pojo.FaultSolution">
    insert into tbfaultsolution (id, faultID, verNumber, 
      faultSolution, remarks)
    values (#{id,jdbcType=INTEGER}, #{faultid,jdbcType=VARCHAR}, #{vernumber,jdbcType=INTEGER}, 
      #{faultsolution,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.siit.zsw.pojo.FaultSolution">
    insert into tbfaultsolution
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="faultid != null">
        faultID,
      </if>
      <if test="vernumber != null">
        verNumber,
      </if>
      <if test="faultsolution != null">
        faultSolution,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="faultid != null">
        #{faultid,jdbcType=VARCHAR},
      </if>
      <if test="vernumber != null">
        #{vernumber,jdbcType=INTEGER},
      </if>
      <if test="faultsolution != null">
        #{faultsolution,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.siit.zsw.pojo.FaultSolution">
    update tbfaultsolution
    <set>
      <if test="faultsolution != null">
        faultSolution = #{faultsolution,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siit.zsw.pojo.FaultSolution">
    update tbfaultsolution
    set faultSolution = #{faultsolution,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and faultID = #{faultid,jdbcType=VARCHAR}
      and verNumber = #{vernumber,jdbcType=INTEGER}
  </update>
  <select id="getSolutionByFaultID" parameterType="string" resultType="com.siit.zsw.pojo.FaultSolution">
SELECT * FROM tbfaultsolution WHERE faultID=#{faultID}



  </select>
</mapper>